.booking-content {
    border: 3px solid yellow;
    padding: 2.5rem;
}

.filter-panel {
    flex: 1;
    border: 3px solid red;
    min-height: 80rem;
}

.divider {
    width: 2rem;
}

.booking-times {
    flex: 3;
    border: 3px solid red;
}