.home-content {
    //border: 3px solid gold;
    padding: 2rem;
}

.banner-div {
    height: 25rem;
    border-radius: 5px;

    @media (min-width: 575px) {

        font-size: 3rem;
        line-height: 3rem;
    }

    @media (max-width: 574px) {

        font-size: 8vw;
        line-height: 8vw;
    }

    //border: 3px solid red;
}

.banner {
    max-width: 100%;
}

.banner-text {
    font-family: shrikhand;
    color: #283848;
    font-weight: 100;
    flex: 1;
    text-align: center;
}

.banner-btn-div {
    flex: 1;
    filter: url('#flt_tag');
    margin-top: auto;
    margin-bottom: auto;
}

.red-btn {
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);

    @media (min-width: 574px) {
        width: 31rem;
        height: 5rem;

    }

    @media (max-width: 574px) {
        width: 80vw;
        height: 15vw;

    }

    font-family: shrikhand;
}

.flt_svg {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
}

.vehicles,
.team {
    flex: 1;
    background-color: aliceblue;
    padding: 2rem;
}

.good-service {
    //border: 3px solid red;
    padding: 2rem 0;


    @media (min-width: 575px) {
        line-height: 3rem;
        font-size: 3rem;
    }

    @media (max-width: 575px) {
        font-size: 8vw;
        line-height: 8vw;
    }
        
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.team {
    flex: 1;
    height: 100%;
}


.team div {
    padding-top: 3rem;
}

.team p {
    padding-left: 1rem;
}

img {
    width: 100%;
}

.good-service-divider {
    width: 2rem;
}


.vehicles-left,
.vehicles-right {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}