@font-face {
  font-family: rokkitt;
  src: url('../public/Rokkitt-Regular.ttf') format('opentype');
}

@font-face {
  font-family: shrikhand;
  src: url('../public/Shrikhand-Regular.ttf') format('opentype');
}

@font-face {
  font-family: roboto-bold;
  src: url('../public/roboto.bold.ttf') format('opentype');
}

body, html {
  height: 100%;
  font-family: rokkitt;
  background-color: #f8f8ed;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1800px) {
    max-width: 1920px;
  }

  @media (max-width: 900px) {
    max-width: 100%;
  }
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

.banner-div {
  background: url('../public/tirePic.png') no-repeat center center/cover;
}

.red-btn {
  background-color: #ff1b1b;
  border: none;
  color: white;
  display: table-cell;
  vertical-align: middle;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;

  &:hover {
    background-color: #da2e2e;
  }

  &:active {
    background-color: #9b2020;
  }


  ::ng-deep {
    mat-expansion-panel .mat-expansion-panel-body {
      padding: 0;
    }

    mat-paginator {
      font-family: rokkitt !important;
    }
  }
  
}
