nav,
footer {
    background-color: #283848;
    color: white;
    font-family: rokkit;
    padding: 1rem 2rem 1rem 2rem;
}

.nav-left {
    font-size: 2rem;
    font-family: shrikhand;
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    color: #F4F67B;
}

.nav-right {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-right button {
    color: white;
    font-size: 1.5rem;
}

footer {
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    @media (min-width: 900px) {
        flex-direction: row;
    }

    @media (max-width: 899px) {
        flex-direction: column;
    }
}

.footer-left {
    flex: 1;
    margin: inherit;
}

.footer-middle {
    flex: 1;
    @media (min-width: 900px) {
    align-items: center;}
    margin: inherit;
}

.footer-right {
    flex: 1;
    @media (min-width: 900px) {
    align-items: end;}
    margin: inherit;
}
